/* https://bbbootstrap.com/snippets/simple-weather-ui-76148278  */
/* https://home.openweathermap.org/api_keys */
/* https://openweathermap.org/api/geocoding-api */
/* https://openweathermap.org/forecast5 */

header {
  background-color: #ffecb7;
  padding: 10px;
  text-align: center;
  color: #0E2239;
}

body {
  background-color:  #fff7e0
}

.current-city-header {
  background-color: #ffecb7;
  font-size: x-large;
  font-weight: 600;
}

.card-body {
  text-align: center;
  background-color: #9EC1A3;
}

.list-group {
  text-align: center;
}

.list-group-item {
  background-color: #CFE0C3;
}

.btn-secondary {
  background-color: #ffecb7;
  color: #0E2239;
}

.btn-secondary:hover {
  background-color: #F0C245;
}

.btnBox {
  display: flex;
  flex-direction: column;
}

