/* https://bbbootstrap.com/snippets/simple-weather-ui-76148278  */

header {
  background-color: aquamarine;
  padding: 10px;
  text-align: center;
}

main {
  border: solid 1px black;
}

#currentCity {
  border: solid 1px green;

}

#fiveDay {
  border: solid 1px orangered;

}

.btnBox {
  display: flex;
  flex-direction: column;
}

